Flask==2.2.2
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
python-dotenv==0.19.2
pandas==1.4.2
numpy==1.22.4
opencv-python==4.5.5.64
pytesseract==0.3.8
PyPDF2==3.0.0  # Updated to the latest version
pdf2image==1.16.0
spacy==3.4.4
pydantic==1.10.2
werkzeug==2.2.2
python-magic==0.4.27
en-core-web-sm==